@font-face {
  font-family: "kaushan";
  src: url(font/KaushanScript-Regular.otf);
}

body {
  font-family: kaushan;
  font-size: 15px;
  line-height: 1.5;
  background-image: url("images\\forest-931706_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* se aplica Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0; /* by default, ul are padding si margin, deci trebuie resetat */
  padding: 0;
}

/* Header */

header {
  background: #425942;
  margin-top: 20px;
  color: #f5a146;
  min-height: 70px;
  border-bottom: 5px solid #e8491d;
}

header a {
  color: #f5a146;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

.menu-bar li {
  display: inline-block;
  position: relative;
  animation: bounce 4s infinite linear;
}

.menu-bar li:nth-child(1) {
  animation-delay: 0s;
}

.menu-bar li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu-bar li:nth-child(3) {
  animation-delay: 0.4s;
}

.menu-bar li:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  20%,
  50%,
  70%,
  to {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-4px);
  }
}

header img {
  /*verifica astea doua poate reusesti responsive, img si logo*/
  float: left;
  margin: 0;
  position: absolute;
}

header.logo {
  width: 100%;
  max-width: 100px;
  height: auto;
}

header #initials-highlight {
  float: left;
}

header nav {
  float: right;
  margin-top: 30px;
}

header h1 {
  margin-left: 200px;
  font-size: 2.2em;
}

span.highlight,
li.current a {
  color: #e8491d;
}

header a:hover {
  color: #cccccc;
}

/* hobby slider  */
* {
  box-sizing: border-box;
}

main h1 {
  margin: 30px 0 60px 200px;
  color: #ffffff;
}

.btns {
  max-height: 450vh;
  margin: 100px 200px;
}

.btns-box {
  display: flex;
  border-bottom: 3px solid #e8491d;
}

.btns-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 40px;
  padding: 10px 12px;
  font-size: 1.4em;
  font-weight: bold;
}

.btns-box button:hover .fa {
  color: white;
}

.btns-box .fa {
  margin-right: 30px;
}

.slides {
  display: none;
}

.content-pics img {
  vertical-align: middle;
  width: 100%;
  /* max-height: 450px; */
  height: 400px;
}

.content {
  max-width: 1000px;
  margin: 3% auto;
}

#btn1 {
  color: #e8491d;
}

.content-text {
  color: white;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.content-text h3 {
  padding: 15px 0;
  font-size: 1.9em;
}

.content-text p {
  margin: 0 40px;
  font-size: 1.4em;
}

.content-text p a {
  color: #e8491d;
}

.dots {
  text-align: center;
}

.dot,
.dot2 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f5a146;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #e8491d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .text-right {
    font-size: 0.5em;
  }
  main h1 {
    font-size: 1.2em;
    margin-left: 0;
    margin-bottom: 30px;
  }
}
