@font-face {
  font-family: "kaushan";
  src: url(font/KaushanScript-Regular.otf);
}

body {
  font-family: kaushan;
  font-size: 15px;
  line-height: 1.5;
  background-image: url("images\\forest-931706_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* se aplica Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background: #425942;
  margin-top: 20px;
  color: #f5a146;
  min-height: 70px;
  border-bottom: 5px solid #e8491d;
}

header a {
  color: #f5a146;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

.menu-bar li {
  display: inline-block;
  position: relative;
  animation: bounce 4s infinite linear;
}

.menu-bar li:nth-child(1) {
  animation-delay: 0s;
}

.menu-bar li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu-bar li:nth-child(3) {
  animation-delay: 0.4s;
}

.menu-bar li:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  20%,
  50%,
  70%,
  to {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-4px);
  }
}

header img {
  float: left;
  margin: 0;
  position: absolute;
}

header.logo {
  max-width: 100%;
  height: auto;
}

header #initials-highlight {
  float: left;
}

header nav {
  float: right;
  margin-top: 30px;
}

header h1 {
  margin-left: 200px;
  font-size: 2.2em;
}

span.highlight,
li.current a {
  color: #e8491d;
}

header a:hover {
  color: #cccccc;
}

/* aside-home*/

.social-media {
  position: absolute;
  top: 50%;
}

.social-media ul {
  width: 85px;
  position: absolute;
}

.social-media li {
  list-style-type: none;
  padding: 20px;
  transition: 0.6s;
  position: relative;
}

.social-media li:hover {
  padding: 20px 40px;
}

.social-media li:nth-child(1) {
  background: #4b397e;
  font-size: 25px;
}

.social-media li:nth-child(2) {
  background: #fd1d1d;
  font-size: 25px;
}

.social-media li:nth-child(3) {
  background: #283ff4;
  font-size: 25px;
}

.social-media .fa {
  text-decoration: none;
  color: white;
  background: none;
}

/* section-home */

#boxes .box {
  width: 40%;
  float: left;
}

#boxes .box img {
  margin-top: 150px;
  margin-left: 170px;
}

.self-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #e8491d;
}

#boxes .box h1 {
  margin-top: 200px;
  margin-left: 150px;
  font-size: 2em;
}

#boxes .box p {
  margin-top: 20px;
  margin-left: 150px;
  font-size: 1.2em;
}

.dropdown {
  float: right;
  cursor: pointer;
  margin-right: 450px;
  font-size: 1.5em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rbga(101, 67, 33, 0.5);
  max-width: 80%;
  padding: 10px 14px;
  z-index: 1;
  padding-left: 160px;
  margin-bottom: 40px;
}

.dropdown:hover + .dropdown-content {
  display: block;
}

.under-box {
  padding-bottom: 200px;
  border-bottom: 3px solid #e8491d;
}

.graphic-container {
  /* margin-top: 20px; */
  margin-bottom: 100px;
  display: grid;
  height: 60vh;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: 3px solid #e8491d;
}

.graphic-container h3 {
  text-align: center;
  color: white;
  font-size: 1.6em;
}

.graphic-list {
  padding: 50px;
  font-size: 1.2em;
  line-height: 1.6em;
  color: white;
}

.graphic.col1,
.graphic.col2,
.graphic.col3 {
  display: grid;
  place-items: center;
}
.grafic.col2 img {
  max-width: 100%;
  height: auto;
}
.graphic.col3 #ytplayer {
  max-width: 100%;
  height: auto;
}

.graphic-container {
  background-color: #35424a;
}
/* hobby slider*/

* {
  box-sizing: border-box;
}

main h1 {
  margin: 30px 0 60px 200px;
  color: #ffffff;
}

.btns {
  max-height: 450vh;
  margin: 100px 200px;
}

.btns-box {
  display: flex;
  border-bottom: 3px solid #e8491d;
}

.btns-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 40px;
  padding: 10px 12px;
  font-size: 1.4em;
  font-weight: bold;
}

.btns-box button:hover .fa {
  color: #e8491d;
}

.btns-box .fa {
  margin-right: 30px;
}

.slides {
  display: none;
}

.content-pics img {
  vertical-align: middle;
  width: 100%;
  height: 400px;
}

.content {
  max-width: 1000px;
  margin: 3% auto;
}

.content-text {
  color: white;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.content-text h3 {
  padding: 15px 0;
  font-size: 1.9em;
}

.content-text p {
  margin: 0 40px;
  font-size: 1.4em;
}

.content-text p a {
  color: #e8491d;
}

.dots {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f5a146;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #e8491d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .text-right {
    font-size: 0.5em;
  }
  main h1 {
    font-size: 1.2em;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

/*footer*/

footer {
  max-width: 100%;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #425942;
  color: #f5a146;
  font-size: 1.3em;
  border-top: 5px solid #e8491d;
}

#footer-h2 {
  float: left;
  font-size: 1.4em;
  margin-top: 12px;
  margin-left: 10px;
}

#footer-h2 p {
  display: inline;
}

footer li {
  display: inline;
  padding: 0 20px 0 20px;
}

.footer-list {
  float: right;
  margin-top: 15px;
}

/*responsive*/

@media only screen and(max-width: 768px) {
  header #initials-highlight,
  header nav,
  header nav li,
  section.box,
  .dropdown,
  #footer-h2,
  .footer-list {
    float: none;
    width: 100%;
  }
  header .logo {
    display: none;
  }
  header h1 {
    margin-left: 20px;
  }

  .container {
    width: 100%;
  }
  .menu-bar li {
    display: inline;
  }
  #boxes .box img {
    margin-top: 30px;
    margin-left: 160px;
  }
  #boxes .box h1 {
    margin-top: 250px;
    margin-left: -40px;
    font-size: 1.6em;
    width: 200px;
  }
  #boxes .box p {
    margin-top: 50px;
    margin-left: -40px;
    font-size: 1.4em;
    width: 300px;
  }
  .social-media ul {
    width: 65px;
  }
  .dropdown {
    margin-right: 0;
    margin-left: 160px;
  }
  .dropdown-content {
    display: block;
    margin-bottom: 100px;
  }
  footer {
    font-size: 1em;
    height: 85px;
  }
  #footer-h2 {
    margin-top: 6px;
    margin-left: 20px;
    font-size: 1.2em;
  }
  .footer-list {
    margin: 0;
    padding: 0;
    display: inline;
  }
}

/* contact */

.contact-title {
  margin-left: 26em;
  margin-top: 1em;
  font-size: 1.5em;
}

.contact-para {
  margin-left: 29em;
  font-size: 2em;
}

.section-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.contact-grid {
  display: grid;
  grid-template-columns: 70%;
  grid-row-gap: 10px;
  margin-left: 5em;
}

.input-btn {
  width: 40%;
  padding: 1em;
  margin-top: 2em;
  margin-left: 16.8em;
  border-radius: 40px;
  border: none;
  background: -webkit-linear-gradient(
    left,
    rgb(148, 115, 221) 0%,
    rgb(26, 201, 228) 100%
  );
  cursor: pointer;
  outline: none;
}

.contact-input1,
.contact-input2,
.contact-input3,
.contact-textarea {
  padding: 10px 10px 10px 20px;
  border-radius: 40px;
  border: 1px solid rgb(227, 227, 227);
  outline: none;
}

/* portofolio */

.main-edu {
  margin-top: 50px;
  border-bottom: 3px solid #e8491d;
}

#dark-back {
  background: #35424a;
}

/* education tag */

.education-bar {
  background: #e8491d;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 50px 0 40px;
  position: relative;
  margin: 150px 10px 0 0;
  text-decoration: none;
  font-size: 1.6em;
}

.education-bar::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 20px;
  position: absolute;
  width: 6px;
  top: 20px;
}

.education-bar::after {
  background: transparent;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #e8491d;
  border-top: 25px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
}

.edu1,
.edu2,
.edu3 {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr;
  margin: 0;
  padding: 0;
}

.edu1 img,
.edu2 img,
.edu3 img {
  max-width: 100%;
  height: auto;
}

.edu3 {
  margin-bottom: 20px;
}

.study-text1 p:first-child,
.study-text2 p:first-child,
.study-text3 p:first-child {
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 15px;
}

.study-text1 p:last-child,
.study-text2 p:last-child,
.study-text3 p:last-child {
  font-size: 1.4em;
  padding-left: 15px;
}

.study-text1,
.study-text3 {
  background-color: white;
}

/* .study-text2 {
  color: white;
} */

/* skills tag */

.skill-bar,
.experience-bar {
  background: #e8491d;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 150px 0 40px;
  position: relative;
  margin: 70px 10px 0 0;
  text-decoration: none;
  font-size: 1.6em;
}

.skill-bar::before,
.experience-bar::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 20px;
  position: absolute;
  width: 6px;
  top: 20px;
}

.skill-bar::after,
.experience-bar::after {
  background: transparent;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #e8491d;
  border-top: 25px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
}

.main-skills {
  margin-top: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  border-bottom: 3px solid #e8491d;
}

.main-skills img {
  width: 100%;
  height: 250px;
  border-radius: 20%;
  border-color: 3px solid #35424a;
}

.skill {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  padding-bottom: 20px;
}

.skill p,
.skill h3 {
  margin: 0;
  padding: 0;
}

.skill h3 {
  padding-top: 20px;
}

/* experience bar */

.main-exp {
  margin-top: 30px;
  border-bottom: 3px solid #e8491d;
}

.exp1 {
  display: grid;
  grid-template-columns: minmax(150px, 85%) 1fr;
  margin: 0;
  padding: 0;
  background-color: #35424a;
  color: white;
}

.exp2 {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr;
  background-color: white;
  margin-bottom: 30px;
}

.exp1 img,
.exp2 img {
  max-width: 100%;
  height: auto;
}

.exp1 img {
  float: right;
}

.exp2 img {
  float: left;
}
.exp-text {
  padding-left: 15px;
}

.exp-text p:first-child {
  font-size: 1.6em;
  font-weight: bold;
}

.exp-text p:last-child {
  font-size: 1.3em;
}

.bottom-gap {
  margin-bottom: 100px;
}
