@font-face {
  font-family: "kaushan";
  src: url(font/KaushanScript-Regular.otf);
}

body {
  font-family: kaushan;
  font-size: 15px;
  line-height: 1.5;
  background-image: url("images\\wall.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* se aplica Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header */

header {
  background: #425942;
  margin-top: 20px;
  color: #f5a146;
  min-height: 70px;
  border-bottom: 5px solid #e8491d;
}

header a {
  color: #f5a146;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

.menu-bar li {
  display: inline-block;
  position: relative;
  animation: bounce 4s infinite linear;
}

.menu-bar li:nth-child(1) {
  animation-delay: 0s;
}

.menu-bar li:nth-child(2) {
  animation-delay: 0.2s;
}

.menu-bar li:nth-child(3) {
  animation-delay: 0.4s;
}

.menu-bar li:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  20%,
  50%,
  70%,
  to {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-4px);
  }
}

header img {
  float: left;
  margin: 0;
  position: absolute;
  max-width: 100%;
  height: auto;
}

header #initials-highlight {
  float: left;
}

header nav {
  float: right;
  margin-top: 30px;
}

header h1 {
  margin-left: 200px;
  font-size: 2.2em;
}

span.highlight,
li.current a {
  color: #e8491d;
}

header a:hover {
  color: #cccccc;
}

@media only screen and (max-width: 768px) {
  header img {
    max-width: 100px;
    height: auto;
  }
  header nav {
    margin-top: 0;
    margin-left: 40px;
  }
  header h1 {
    margin-left: 140px;
    padding-left: 30px;
    font-size: 1.8em;
  }
  header a {
    font-size: 1.2em;
  }
  header li {
    display: flex;
    flex-wrap: wrap;
  }
}

/* aside-home*/

.social-media {
  position: absolute;
  top: 50%;
}

.social-media ul {
  width: 85px;
  position: absolute;
}

.social-media li {
  list-style-type: none;
  padding: 20px;
  transition: 0.6s;
  position: relative;
}

.social-media li:hover {
  padding: 20px 40px;
}

.social-media li:nth-child(1) {
  background: #4b397e;
  font-size: 25px;
}

.social-media li:nth-child(2) {
  background: #fd1d1d;
  font-size: 25px;
}

.social-media li:nth-child(3) {
  background: #283ff4;
  font-size: 25px;
}

.social-media .fa {
  text-decoration: none;
  color: white;
  background: none;
}

@media only screen and (max-width: 768px) {
  .social-media {
    top: 60%;
  }
  .social-media ul {
    width: 50px;
  }
  .social-media li {
    padding: 6px;
  }
  .social-media li:hover {
    padding: 6px 12px;
  }
  .social-media li:nth-child(1),
  .social-media li:nth-child(2),
  .social-media li:nth-child(3) {
    font-size: 16px;
  }
}

/* section-home */

#boxes {
  display: grid;
  height: 50vh;
  margin-top: 70px;
  margin-bottom: 100px;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#boxes .box {
  display: grid;
  place-items: center;
}

#boxes .box h1,
#boxes .box p {
  display: flex;
  flex-direction: column;
}
.self-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 3px solid #e8491d;
}

#boxes .box h1 {
  font-size: 2.2em;
  align-self: flex-end;
  color: white;
}

#boxes .box p {
  font-size: 1.6em;
  align-self: flex-start;
  color: white;
}

.dropdown {
  position: absolute;
  left: 51%;
  top: 65%;
  cursor: pointer;
  font-size: 1.6em;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 70%;
  background-color: rbga(101, 67, 33, 0.5);
  max-width: 80%;
  padding: 10px 14px;
  z-index: 1;
  color: white;
}

.dropdown:hover + .dropdown-content {
  display: block;
}

.dropdown-content p {
  font-size: 1.4em;
}

.under-box {
  display: grid;
  place-items: center;
  padding-bottom: 200px;
  border-bottom: 3px solid #e8491d;
}

.graphic-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  border-bottom: 3px solid #e8491d;
  background-color: #35424a;
}

.graphic-container h3 {
  text-align: center;
  color: white;
  font-size: 1.6em;
}

.graphic-list {
  margin-left: 20px;
  font-size: 1.2em;
  line-height: 2em;
  color: white;
}

.graphic.col {
  display: flex;
  flex-direction: column;
}

.grafic.col img {
  max-width: 100%;
  height: auto;
}
.graphic.col #ytplayer {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .self-image {
    width: 200px;
    max-width: 100%;
    height: auto;
    margin-top: 15px;
  }
  .under-box {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  #boxes {
    margin-top: 0;
    height: 70vh;
  }
  .dropdown {
    top: 100%;
    left: 30%;
  }
  .dropdown-content {
    top: 102%;
  }
  .dropdown-content p {
    font-size: 1em;
  }
  .graphic-container {
    margin-bottom: 180px;
  }
  #boxes .box h1 {
    font-size: 1.8em;
  }
  #boxes .box p {
    font-size: 1.4em;
  }
}

/* hobby slider*/

* {
  box-sizing: border-box;
}

main h1 {
  margin: 30px 0 60px 200px;
  color: #ffffff;
  font-size: 2.2em;
}

.btns {
  max-height: 450vh;
  margin: 100px 200px;
}

.btns-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #e8491d;
}

.btns-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: kaushan;
  color: white;
}

#btn1:hover .fa,
#btn2:hover .fa,
#btn3:hover .fa {
  color: #e8491d;
}

.btns-box .fa {
  margin-right: 30px;
}

.slides {
  display: none;
}

.content-pics img {
  vertical-align: middle;
  width: 100%;
  min-width: 300px;
  height: auto;
}

.content {
  max-width: 1000px;
  margin: 3% auto;
}

.content-text {
  color: white;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.content-text h3 {
  padding: 15px 0;
  font-size: 1.9em;
}

.content-text p {
  margin: 0 40px;
  font-size: 1.4em;
}

.content-text p a {
  color: #e8491d;
}

.dots {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #f5a146;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #e8491d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  main h1 {
    font-size: 1.4em;
    margin-left: 20px;
  }
  .btns {
    margin: 0 0 200px 0;
  }
  .btns-box button {
    font-size: 1.2em;
  }
  .content-text h3 {
    font-size: 1.4em;
  }
  .content-text p {
    margin: 0 10px;
    font-size: 1.2em;
  }
  footer {
    font-size: 1em;
  }
  footer #footer-contact {
    padding: 0;
  }
}

/*footer*/

footer {
  height: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #425942;
  color: #f5a146;
  font-size: 1.3em;
  border-top: 5px solid #e8491d;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#footer-contact {
  padding: 15px 0;
}

/* contact page*/

/* weather app */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin-bottom: 200px;
}

.weather-side {
  max-width: 300px;
  height: auto;
  background-color: #ffffff;
  display: block;
  margin-top: 200px;
  border-radius: 10px;
}

.app-title {
  width: 300px;
  height: 60px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-container {
  width: 300px;
  height: auto;
  background-color: #92d6e1;
}
.weather-icon img {
  display: block;
  margin: 0 auto;
}
.temperature-value {
  width: 300px;
  height: 50px;
}

.temperature-value p {
  padding: 0;
  margin: 0;
  color: #d25a1d;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temperature-value span {
  color: #da4628;
  font-size: 0.5em;
}

.temperature-description p {
  padding: 4px;
  margin-top: 15px;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location {
  width: 300px;
  height: 60px;
}

.location p {
  margin: 4px;
  color: #293251;
  text-align: center;
  font-size: 2em;
}

.weather-side button {
  display: block;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 105px;
  width: 30%;
  text-align: center;
  font-size: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 15%;
  color: #da4628;
}

/* contact side */

.contact-side {
  margin-top: 200px;
  width: 450px;
  height: auto;
}

.contact-grid {
  display: flex;
  flex-direction: column;
}

.contact-grid label {
  font-size: 1.4em;
  color: white;
}

.contact-title {
  font-size: 2.2em;
  color: white;
}

.input-btn {
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 16px;
  border-radius: 40px;
  border: none;
  background: -webkit-linear-gradient(
    left,
    rgb(148, 115, 221) 0%,
    rgb(26, 201, 228) 100%
  );
  cursor: pointer;
  outline: none;
}

.contact-input1,
.contact-input2,
.contact-input3,
.contact-textarea {
  padding: 10px 10px 10px 10px;
  border-radius: 40px;
  border: 1px solid rgb(227, 227, 227);
  outline: none;
}

@media only screen and (max-width: 768px) {
  .weather-side {
    margin-top: 100px;
  }
  .contact-side {
    margin-top: 60px;
  }
  .contact-title {
    font-size: 1.8em;
  }
}

/* portofolio */

.main-edu {
  margin-top: 50px;
  border-bottom: 3px solid #e8491d;
}

#dark-back {
  background: #35424a;
}

/* education tag */

.education-bar {
  background: #e8491d;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 50px 0 40px;
  position: relative;
  margin: 150px 10px 0 0;
  text-decoration: none;
  font-size: 1.6em;
}

.education-bar::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 20px;
  position: absolute;
  width: 6px;
  top: 20px;
}

.education-bar::after {
  background: transparent;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #e8491d;
  border-top: 25px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
}

.edu1,
.edu2,
.edu3 {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr;
  margin: 0;
  padding: 0;
}

.edu1 img,
.edu2 img,
.edu3 img {
  max-width: 100%;
  height: auto;
}

.edu3 {
  margin-bottom: 20px;
}

.study-text1 p:first-child,
.study-text2 p:first-child,
.study-text3 p:first-child {
  font-size: 1.6em;
  font-weight: bold;
  padding-left: 15px;
}

.study-text1 p:last-child,
.study-text2 p:last-child,
.study-text3 p:last-child {
  font-size: 1.4em;
  padding-left: 15px;
}

.study-text1,
.study-text3 {
  background-color: white;
}

.study-text2 {
  color: white;
}

/* skills tag */

.skill-bar,
.experience-bar {
  background: #e8491d;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 150px 0 40px;
  position: relative;
  margin: 70px 10px 0 0;
  text-decoration: none;
  font-size: 1.6em;
}

.skill-bar::before,
.experience-bar::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 20px;
  position: absolute;
  width: 6px;
  top: 20px;
}

.skill-bar::after,
.experience-bar::after {
  background: transparent;
  border-bottom: 25px solid transparent;
  border-left: 10px solid #e8491d;
  border-top: 25px solid transparent;
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
}

.main-skills {
  margin-top: 30px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  border-bottom: 3px solid #e8491d;
}

.main-skills img {
  width: 100%;
  height: 250px;
  border-radius: 20%;
  border-color: 3px solid #35424a;
}

.skill {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  padding-bottom: 20px;
}

.skill p,
.skill h3 {
  margin: 0;
  padding: 0;
  color: white;
}

.skill h3 {
  padding-top: 20px;
}

/* experience bar */

.main-exp {
  margin-top: 30px;
  border-bottom: 3px solid #e8491d;
}

.exp1 {
  display: grid;
  grid-template-columns: minmax(150px, 85%) 1fr;
  margin: 0;
  padding: 0;
  background-color: #35424a;
  color: white;
}

.exp2 {
  display: grid;
  grid-template-columns: minmax(150px, 15%) 1fr;
  background-color: white;
  margin-bottom: 30px;
}

.exp1 img,
.exp2 img {
  width: 100%;
  min-width: 150px;
  height: auto;
}

.exp1 img {
  float: right;
}

.exp2 img {
  float: left;
}
.exp-text {
  padding-left: 15px;
}

.exp-text p:first-child {
  font-size: 1.6em;
  font-weight: bold;
}

.exp-text p:last-child {
  font-size: 1.3em;
}

.bottom-gap {
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .main-skills img {
    width: 100%;
    height: auto;
  }
  .education-bar {
    margin: 80px 10px 0 0;
  }
  .bottom-gap {
    margin-bottom: 180px;
  }
}
